.course-chart-card {
  background: #11172a;

  border: 1px solid #252d43;
  border-radius: 16px;

  padding: 22px;
}

.course-chart-content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 20px;
}

.donut {
  width: 205px;
  height: 205px;

  border-radius: 50%;

  background:
    conic-gradient(
      #7c3aed 0deg 100deg,
      #3b82f6 100deg 160deg,
      #f59e0b 160deg 230deg,
      #fb923c 230deg 290deg,
      #ec4899 290deg 360deg
    );

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-center {
  width: 125px;
  height: 125px;

  border-radius: 50%;

  background: #11172a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donut-center h2 {
  font-size: 28px;
}

.donut-center span {
  color: #9da5b8;
  font-size: 13px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.course-list div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-list p {
  width: 110px;
  color: #c7cede;
}

.course-list strong {
  font-size: 14px;
}

.dot {
  width: 11px;
  height: 11px;

  border-radius: 50%;
}

.purple-dot {
  background: #7c3aed;
}

.blue-dot {
  background: #3b82f6;
}

.yellow-dot {
  background: #f59e0b;
}

.orange-dot {
  background: #fb923c;
}

.pink-dot {
  background: #ec4899;
}